@model E_learningFinalProject.Models.SemesterSchedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SemesterSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SemesterID" class="control-label"></label>
                <input asp-for="SemesterID" class="form-control" />
                <span asp-validation-for="SemesterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <input asp-for="CourseID" class="form-control" />
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessorID" class="control-label"></label>
                <input asp-for="ProfessorID" class="form-control" />
                <span asp-validation-for="ProfessorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MethodOfDelivery" class="control-label"></label>
                <input asp-for="MethodOfDelivery" class="form-control" />
                <span asp-validation-for="MethodOfDelivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
